*{
    padding: 0;
    margin: 0;
}
#block{
    width: 100%;
    background: #004080;
    color: white;
    height: 50px;
    line-height: 50px;
    text-align: center;
}
#block2{ 
    margin-top: 20px;
    width: 100%;
    background: #004080;
    color: white;
    height: 50px;
    line-height: 50px;
    text-align: center;
}
.flex{
    margin-top: 20px;
    width: 100%;
    background: #004080;
    color: white;
    height: 50px;
    line-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 768px){
    #block{
        background: #008080;
    }
    #block2{
        background: red;
    }
}
@media screen and (max-width: 375px){
    #block{
        background: red;
    }
    #block2{
        background: royalblue;
    }
}

@media print{
    #block2{
        display: none;
    }
    .flex{
        display: none;
    }
}